<main>
  <h2 *ngIf="listTachesUrgent.length != 0">⚠️ La tâche est urgente</h2>
  <ul>
    <li *ngFor="let urgente of listTachesUrgent">
      <p class="update">
        <img
          class="update-img"
          src="../../../assets/icon-categories/check_icon.png"
          alt=""
        />
      </p>
      <img
        src="../../../assets/icon-categories/{{ urgente.category }}.png"
        alt=""
      />
      <p routerLink="/tache/{{ urgente.id }}">{{ urgente.content }}</p>
    </li>
  </ul>
  <h2 *ngIf="listTachesNoUrgent.length != 0">🌸 Tâches non urgentes</h2>
  <ul>
    <li *ngFor="let noUrgente of listTachesNoUrgent">
      <p class="update">
        <img
          class="update-img"
          src="../../../assets/icon-categories/check_icon.png"
          alt=""
        />
      </p>
      <img
        src="../../../assets/icon-categories/{{ noUrgente.category }}.png"
        alt=""
      />
      <p routerLink="/tache/{{ noUrgente.id }}">{{ noUrgente.content }}</p>
    </li>
  </ul>
</main>
