<hr />
<footer>
  <nav>
    <a
      routerLink="/"
      [ngClass]="{
        'bg-green': this.url === '/' || this.url === '/list-taches'
      }"
      ><img src="../../../assets/img/listTache.png" alt=""
    /></a>
    <a
      routerLink="/ajouter-une-tache"
      [ngClass]="{ 'bg-yellow': this.url === '/ajouter-une-tache' }"
      ><img src="../../../assets/img/plus.png" alt=""
    /></a>
    <a
      routerLink="/historique"
      [ngClass]="{ 'bg-violat': this.url === '/historique' }"
      ><img src="../../../assets/img/historiqueList.png" alt=""
    /></a>
  </nav>
</footer>
