footer {
  background: #040722;
  height: 12.87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  gap: 6.44vw;
}
a {
  width: 65.86px !important;
  height: 65.86px !important;
  border-radius: 50%;
  background: #1d2038;

  position: relative;
}
img {
  position: absolute;
  width: 30.63px;
  height: 30.63px;
  top: 25%;
  right: 25%;
}
.bg-yellow {
  background-color: #f3d24f;
}
.bg-green {
  background-color: #88e7a1;
}
.bg-violat {
  background-color: #e475f1;
}
