<main class="flex">
  <div class="ajout-tache flex">
    <h2>Sélectionnez votre catégorie* :</h2>
    <div class="icon-categories flex">
      <p
        (click)="getCategorie('shopping')"
        [ngClass]="{
          'bg-yellow':
            this.tache.category === 'shopping' ||
            this.tacheFound?.category === 'shopping'
        }"
      >
        <img src="../../../assets/icon-categories/shopping.png" alt="" />
      </p>
      <p
        (click)="getCategorie('health')"
        [ngClass]="{
          'bg-yellow':
            this.tache.category === 'health' ||
            this.tacheFound?.category === 'health'
        }"
      >
        <img src="../../../assets/icon-categories/health.png" alt="" />
      </p>
      <p
        (click)="getCategorie('work')"
        [ngClass]="{
          'bg-yellow':
            this.tache.category === 'work' ||
            this.tacheFound?.category === 'work'
        }"
      >
        <img src="../../../assets/icon-categories/work.png" alt="" />
      </p>
      <p
        (click)="getCategorie('bills')"
        [ngClass]="{
          'bg-yellow':
            this.tache.category === 'bills' ||
            this.tacheFound?.category === 'bills'
        }"
      >
        <img src="../../../assets/icon-categories/bills.png" alt="" />
      </p>
      <p
        (click)="getCategorie('cleaning')"
        [ngClass]="{
          'bg-yellow':
            this.tache.category === 'cleaning' ||
            this.tacheFound?.category === 'cleaning'
        }"
      >
        <img src="../../../assets/icon-categories/cleaning.png" alt="" />
      </p>
      <p
        (click)="getCategorie('other')"
        [ngClass]="{ 'bg-yellow': this.tache.category === 'other' }"
      >
        <img src="../../../assets/icon-categories/other.png" alt="" />
      </p>
    </div>
    <h2>Quelle tâche avez vous à effectuer* ?</h2>
    <textarea
      [(ngModel)]="mytextarea"
      cols="30"
      rows="7"
      placeholder="Exemple : Faire les courses"
      (input)="getContent(mytextarea)"
    ></textarea>

    <div class="flex urgent-div">
      <p class="Urgent" (click)="getUrgentTache()">
        <img
          src="../../../assets/icon-categories/check_icon.png"
          alt=""
          [ngClass]="{ 'display-non': tache.isUrgent == false }"
        />
      </p>
      <h2>La tâche est urgente ⚠️</h2>
    </div>
  </div>
  <button
    *ngIf="!this.tacheFound"
    (click)="addTache(this.tache)"
    [ngClass]="{
      'bg-blue': this.tache.content != '' && this.tache.category != 'init'
    }"
  >
    Valider ma tâche
  </button>
  <button
    *ngIf="this.tacheFound"
    (click)="addUpdateTache(this.tache)"
    [ngClass]="{
      'bg-blue': this.tache.content != '' && this.tache.category != 'init'
    }"
  >
    Modifier ma tâche
  </button>
</main>
