main {
  flex-direction: column;
  align-items: center;
  gap: 20%;
  height: 78.13vh;
  background: #040722;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.ajout-tache {
  padding-top: 4.76vh;
  /* padding-bottom: 37%; */

  flex-direction: column;
  align-items: center;
  gap: 3.6vh;
}
.icon-categories {
  gap: 10px;
}
p {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #1d2038;
  position: relative;
}
img {
  position: absolute;
  top: 30%;
  right: 30%;
}
textarea {
  background: #1d2038;
  padding-top: 24px;
  padding-left: 17px;
  color: #ffffff;
}
::placeholder {
  font-family: "Quicksand";
  font-style: normal;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 24px;
  padding-left: 17px;
}
button {
  background: rgba(100, 167, 217, 0.5);
  border-radius: 30px;
  text-align: center;
  width: 248px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  border: transparent;
}
::placeholder,
button,
textarea {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.flex {
  display: flex;
}

@media (max-height: 668px) {
  main {
    gap: 3vh;
  }
}
@media (max-height: 745px) and (min-height: 669px) {
  main {
    gap: 7vh;
  }
}
@media (max-height: 900px) and (min-height: 746px) {
  main {
    gap: 14vh;
  }
}
.Urgent {
  width: 25px;
  margin: 0;
  height: 25px;
  background: #1d2038;
}
.urgent-div {
  gap: 11px;
}
.bg-yellow {
  background: #f3d24f;
}
.bg-blue {
  background: #64a7d9;
  color: white;
}
.display-non {
  display: none;
}
.bg-move {
  background: #e475f1;
}
